@use "page.scss";

p {
    font-weight: bold;
}

#app .samba_ad_dc_navitem {
    color: var(--pf-v5-global--primary-color--100);

    &:hover {
        color: var(--pf-v5-global--primary-color--200);
    }
}

#app .samba_ad_dc_navdivider {
    --pf-v5-c-divider--after--BackgroundColor: var(--pf-v5-c-divider--BorderColor--base);
}

#app .samba_ad_dc_expandable_card_header {
    cursor: pointer;
}